modules = ["web", "python-3.12"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "python server.py"]

[workflows]
runButton = "Serve HTML"

[[workflows.workflow]]
name = "Serve HTML"
author = 44101643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[[ports]]
localPort = 5000
externalPort = 80
